<div class="agenda-container">
  <header>
    <div class="date-selector">
      <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="datepicker" (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
    </div>
  </header>

  <div class="agenda-grid">
    <!-- Cabeçalho: profissionais -->
    <div class="agenda-header">
      <div class="col-header" *ngFor="let profissional of profissionais">
        {{ profissional.nome }}
        <br />
        {{ profissional.especialidade }}
      </div>
    </div>

    <!-- Corpo: horários -->
    <div class="agenda-body">
      <div class="row" *ngFor="let horario of horarios">
        <div class="time-label">{{ horario }}</div>
        <div
          class="cell"
          *ngFor="let profissional of profissionais"
          [ngClass]="{ 'has-agendamento': getAgendamento(horario, profissional.id) }"
          (click)="onAgendamentoClick(horario, profissional.id)"
        >
          <div *ngIf="getAgendamento(horario, profissional.id)" class="agendamento">
            <span>{{ getAgendamento(horario, profissional.id)?.cliente }}</span>
            <span>{{ getAgendamento(horario, profissional.id)?.servico }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
