<header class="flex items-center h-16 px-4 border-b border-muted shrink-0 md:px-6">
  <div class="flex flex-1 items-center">
    <nav class="flex-col hidden gap-6 text-lg font-medium md:flex md:flex-row md:items-center md:gap-5 md:text-sm lg:gap-6">
      <a class="flex items-center gap-2 text-lg font-semibold md:text-base" routerLink="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
          <circle cx="6" cy="6" r="3"></circle>
          <path d="M8.12 8.12 12 12"></path>
          <path d="M20 4 8.12 15.88"></path>
          <circle cx="6" cy="18" r="3"></circle>
          <path d="M14.8 14.8 20 20"></path>
        </svg>
        <span class="sr-only">Barbearia</span>
      </a>
      <a class="font-bold" routerLink="/businessperformance">Dashboard</a>
      <a class="text-muted-foreground" routerLink="/businessagendamentos">Agendamentos</a>
      <a class="text-muted-foreground" routerLink="/businessclientes">Clientes</a>
      <a class="text-muted-foreground" routerLink="/businessservicos">Serviços</a>
      <a class="text-muted-foreground" routerLink="/businessrelatorios">Relatórios</a>
      <a class="text-muted-foreground" routerLink="/businesspagamentos">Pagamentos</a>
      <a class="text-muted-foreground" routerLink="/businessprodutos">Produtos</a>
      <a class="text-muted-foreground" routerLink="/businessprofissionais">Profissionais</a>
    </nav>
  </div>
  <div class="flex items-center ml-auto text-sm text-text-muted gap-4">
    <app-theme-toggle></app-theme-toggle>
    <div class="flex flex-col text-right">
      <span>Usuário: {{ userName }}</span>
      <span class="text-xs">Logado desde: {{ loggedSince }}</span>
    </div>
  </div>
</header>
