* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;  /* Fundo preto para toda a página */
  color: #e0e0e0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #000;
}

.calendar-container, .form-container {
  background-color: #1E1E1E;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.calendar-container {
  width: 40%;

}

.form-container {
  width: 55%;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.calendar {
  background-color: #2A2A2A;
  padding: 10px;
  border-radius: 10px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-header span {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 10px;
  color: #ffffff;
}

.active {
  background-color: #6200EA;
  border-radius: 50%;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;

}

form label {
  margin: 10px 0 5px;
}

form input, form select, form button {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

form input, form select {
  background-color: #2A2A2A;
  color: #ffffff;
}

form button {
  background-color: #6200EA;
  color: #ffffff;
  cursor: pointer;
}

form button:hover {
  background-color: #3700B3;
}
