.grid {
  display: grid;
  gap: 1.5rem; /* Aumenta ligeiramente o espaço entre os grids */
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.md\:grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.lg\:grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

/* Aumentando o tamanho máximo das divs */
.card {
  max-width: 350px; /* Ajusta esse valor para aumentar o tamanho */
  margin: auto; /* Centraliza as divs no espaço disponível */
}

.p-4 {
  padding: 1.5rem; /* Aumenta o padding para as divs */
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #bb86fc;
}

.icon {
  color: #bb86fc;
}
