<div class="header">
  <div class="header-left">
    <h1>Menu Clientes - Consulta</h1>
  </div>
  <div class="header-right">
    <span>Usuário: {{ userName }}</span>
    <span>Tempo de Sessão: {{ loginTime }}</span>
  </div>
</div>

<div class="tabcontrol">
  <mat-tab-group [(selectedIndex)]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Consulta">
      <!-- Conteúdo da aba de consulta -->
      <!-- Adicione o conteúdo da consulta aqui -->
    </mat-tab>
    <mat-tab label="Cadastro">
      <!-- Conteúdo da aba de cadastro -->
      <div class="cadastro">
        <!-- Formulário de cadastro e tabela de produtos relacionados -->
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
